
<div class="container">
    <div class="mt-3 animated fadeIn">
        <h2 class="text-uppercase text-center">Sucursales registradas <small class="btn-block text-muted">El listado cuenta con {{branchOffices.length}} registro(s)</small></h2>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <button  [routerLink]="['/guardar-sucursal']" type="button" class="btn btn-success mb-3 mr-1 text-uppercase" title="Crear sucursal">
                <span class="fas fa-plus"></span> Crear Sucursal</button>
                <div class="card border-light mb-3">
                    <div class="card-header">Información</div>
                    <div class="card-body text-secondary">
                    <p class="card-text text-left">A continuación, se muestran las sucursales registradas en el sistema. Usted puede editar y eliminar el registro almacenado.</p>
                </div>
            </div>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Drección</th>
                                <th scope="col">Identificación</th>
                                <th scope="col">Fechas de creación</th>
                                <th scope="col">Moneda</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let branchOffice of branchOffices; let i = index">
                                <td>{{branchOffice.Code}}</td>
                                <td>{{branchOffice.Description}}</td>
                                <td>{{branchOffice.Address}}</td>
                                <td>{{branchOffice.Identification}}</td>
                                <td>{{branchOffice.CreateDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{branchOffice.Money?.Code}} - {{branchOffice.Money?.Description}}</td>
                                <td>
                                    <button [routerLink]="['/guardar-sucursal',branchOffice.Id]"  type="button" class="btn btn-sm btn-outline-dark border-secondary mx-1" title="Editar sucursal"><span class="fas fa-pen"></span><span class="sr-only">Editar sucursal</span></button>
                                    <button (click)="mostrarConfirmacionEliminar(branchOffice, i)"  type="button" class="btn btn-sm btn-outline-dark border-secondary mx-1" title="Eliminar sucursal"><span class="fas fa-trash"></span><span class="sr-only">Eliminar sucursal</span></button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-info text-center" *ngIf="branchOffices.length == 0">
                        No hay sucursales registradas
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



