<div class="container">
    <div class="alert alert-danger alert" *ngIf="errores.length > 0">
        <label><strong>Corrige los errores:</strong></label>
        <ul>
            <div *ngFor="let error of errores">
                <li>
                    <p>{{error}}</p>
                </li>
            </div>
        </ul>
    </div>
    <form [formGroup]="formBranchOffice" novalidate>
        <fieldset>
            <legend *ngIf="formBranchOffice.value.id == null">Nueva sucursal</legend>
            <legend *ngIf="formBranchOffice.value.id != null">Nueva sucursal</legend>
            <div class="alert alert-info">
                Todos los campos son obligatorios
            </div>
            <div class="form-row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <label for="code">Código</label>
                        <input type="number" class="form-control" placeholder="Código" formControlName='code'>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea type="text" class="form-control" placeholder="Ingrese Descripción" formControlName='description'>
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <label for="address">Dirección</label>
                        <input type="text" class="form-control" placeholder="Ingrese Dirección" formControlName='address'>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="identification">Identificación</label>
                        <input type="text" class="form-control" placeholder="Ingrese Identificación" formControlName='identification'>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="creationAt">Fecha de creación</label>
                        <input type="date" name="CreateDate" class="form-control" step="1" min="{{minDate | date:'yyyy-MM-dd'}}" formControlName='createDate' value="{{ formBranchOffice.get('createDate')?.value | date:'yyyy-MM-dd' }}">
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="moneyId">Moneda</label>
                        <select id="moneyId" class="form-control" formControlName='moneyId'>
                            <option disabled selected value="null" >Seleccione moneda</option>
                            <option *ngFor="let item of moneies" [ngValue]="item.Id"> {{item.Code}} - {{item.Description}} </option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col text-center">
                <button type="button" [routerLink]="['/sucursales']"  class="btn btn-secondary mx-1">Cancelar</button>
                <button type="button" (click)="saveBranchOffice()" [disabled]="!formBranchOffice.valid" class="btn btn-success mx-1">Guardar</button>
            </div>

        </div>
    </form>
</div>




